@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.8% 0.001 286.375);
  --color-base-300: oklch(92.5% 0.001 286.375);
  --color-base-content: oklch(14.5% 0 0);
  --color-primary: oklch(20.5% 0 0);
  --color-primary-content: oklch(98.5% 0 0);
  --color-secondary: oklch(56% 0.2 260);
  --color-secondary-content: oklch(98.5% 0 0);
  --color-accent: oklch(72% 0.18 350);
  --color-accent-content: oklch(15% 0.02 350);
  --color-neutral: oklch(20.5% 0 0);
  --color-neutral-content: oklch(98.5% 0 0);
  --color-info: oklch(60% 0.12 220);
  --color-info-content: oklch(98% 0 0);
  --color-success: oklch(62% 0.17 150);
  --color-success-content: oklch(15% 0.02 150);
  --color-warning: oklch(78% 0.16 80);
  --color-warning-content: oklch(20% 0.02 80);
  --color-error: oklch(57.7% 0.245 27.325);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
